<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script tpye="text/javascript">
function func(arg){
	//삭제는 confirm을 확인한 후 해야하니 js를 달아줌
	//alert(arg); //alert는 개발자가 내용을 확인 할 때 사용 console.log와 비슷	
	//console.log(arg)
	//frm = document.getElementByName("frm"); //이거 아님 연습해야 함
	let result = confirm("정말 삭제하시겠습니까?"); //confirm 말고 jquery의 다이어리?? 를 사용
	if(result){
		//frm.submit();
		document.getElementById(arg).submit();
	}else{
		//return false;
	}
}
</script>
</head>
<body>
** 상품 정보 **<p/>
<div style="width: 80%; text-align: right;">
	<a href="/sangpum/insert">상품 추가</a>
</div>

<table style="width: 80%;">
  <tr>
  	<th>code</th><th>sang</th><th>su</th><th>dan</th><th>etc</th>
  </tr>
  {% if sangpums %}
  {% for s in sangpums %}
  <tr>
  	<td>{{s.code}}</td>
  	<td>{{s.sang}}</td>
  	<td>{{s.su}}</td>
  	<td>{{s.dan}}</td>
  	<td>
  		<a href="/sangpum/update?code={{s.code}}">수정</a> /
  		<!-- <a href="/sangpum/delete?code={{s.code}}">삭제</a> -->
  		<form action="/sangpum/delete" name="frm" id="{{s.code}}" method="get" 
  				style="display:inline;"> <!-- a태그는 get방식 밖에 안 되는데 POST 방식도 가능하다 -->
  			<input type="hidden" name="code" value="{{s.code}}">
  			<a href="javascript:void(0); onclick=func({{s.code}})">삭제</a> <!-- void(0)는 a태그의 기능을 죽인것 -->
  		</form>
  	</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr><td colspan="5">자료가 없어요</td></tr>
  {% endif %}
</table>
</body>
</html>